/** @format */

.mainNavigation {
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	width: 100%;
	height: 4.5rem;
	background-color: #c7d2fe;
}

.mainNavigation nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}

.mainNavigation ul {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 1170px;
	height: 100%;
}

.mainNavigation li {
	display: flex;
	align-items: center;
	margin: 0 1rem;
}

.mainNavigation a {
	display: block;
	padding: 0.5rem 1rem;
	text-decoration: none;
	border-radius: 5px;
}

.mainNavigation a:hover,
.activeLink {
	color: blue;
	background-color: #fff;
}

.activeLink {
	color: rgb(192, 40, 230);
}

.cartLink {
	position: relative;
}

.mainNavigation span {
	right: -9px;
	top: -9px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #6d28d9;
	color: #fff;
	font-size: 14px;
}
